body {
  background-color:#37c8e5;
  color: #007d96;
  text-align:center;
}

.form-control {
  width: 20%;
  margin:auto;
}

h1 {
  background-color: white;
  text-align: center;
  box-shadow: 1px 1px 30px black;
  margin-bottom:20px;
  padding: 10px;

}

#ping {
  background-color: white;
  padding:20px;
  box-shadow: 1px 1px 30px black;
}

#output {
  box-shadow: 1px 1px 30px black;
  font-size: 40px;
  padding:20px;
  margin-top:20px;
  background-color: white;
  display:none;
}
